Repository ThaiMX-hust/mini-ecommerce: changes, and which Jenkins stages are due for each by the changed paths.
All: Build & Restart API, Build & Restart FE

Jenkinsfile:

pipeline {
  agent { label 'hust-projects' }

  triggers {
    pollSCM('H/2 * * * *')
  }

  environment {
    COMPOSE_PROJECT_NAME = "mini-ecommerce"
  }

  stages {

    stage('Checkout source') {
      steps {
        git branch: 'develop',
            credentialsId: 'github-https',
            url: 'https://github.com/ThaiMX-hust/mini-ecommerce'
      }
    }

    stage('Build & Restart API') {
      when {
        anyOf {
          changeset "server/**"
        }
      }
      steps {
        sh '''
          docker compose build api
          docker compose up -d api
        '''
      }
    }

    stage('Build & Restart FE') {
      when {
        anyOf {
          changeset "client/**"
        }
      }
      steps {
        sh '''
          docker build -t mini-ecommerce-client .
          docker run mini-ecommerce-client
        '''
      }
    }
  }


  post {
    success {
      echo 'Build api successfully'
    }
    failure {
      echo 'Build api failed'
    }
  }
}

Fix forgot password reset url
  server/src/services/emailService.js
Due: Build & Restart API

tesst
  server/package-lock.json
  server/package.json
  server/src/controllers/paymentController.js
  server/src/index.js
  server/src/routes/payment.js
  server/src/services/paymentService.js
Due: Build & Restart API

test
  client/package-lock.json
  client/package.json
  client/src/contexts/StripeContext.jsx
Due: Build & Restart FE

update vnpay
  server/package-lock.json
  server/src/controllers/paymentController.js
  server/src/services/paymentService.js
Due: Build & Restart API

chore: email when trasaction successfluly
  server/src/services/paymentService.js
Due: Build & Restart API

chore: email
  server/src/services/paymentService.js
Due: Build & Restart API

chore: change theme of email templates
  server/src/services/emailService.js
  server/src/templates/email/purchaseSuccessfully.html
  server/src/templates/email/resetPassword.html
Due: Build & Restart API

feat: edit order status by admin
  client/src/api/orderApi.js
  client/src/components/EditOrderStatusModal/EditOrderStatusModal.jsx
  client/src/components/EditOrderStatusModal/EditOrderStatusModal.module.css
  client/src/pages/Admin/OrderManagement/OrderManagement.jsx
  client/src/pages/Admin/OrderManagement/OrderManagement.module.css
Due: Build & Restart FE

update css admin
  client/src/components/Admin/AdminSidebar/AdminSidebar.jsx
  client/src/components/Admin/AdminSidebar/AdminSidebar.module.css
  client/src/components/CancelOrderModal/CancelOrderModal.module.css
  client/src/components/CategoryFormModal/CategoryFormModal.module.css
  client/src/components/OrderDetailModal/OrderDetailModal.module.css
  client/src/components/OrderFilterBar/OrderFilterBar.module.css
  client/src/components/OrderStatusBadge/OrderStatusBadge.module.css
  client/src/components/Pagination/Pagination.module.css
  client/src/pages/Admin/CategoryManagement/CategoryManagement.module.css
  client/src/pages/Admin/OrderManagement/OrderManagement.jsx
  client/src/pages/Admin/OrderManagement/OrderManagement.module.css
  client/src/pages/Admin/ProductManagement/ProductManagement.module.css
Due: Build & Restart FE

update stripe payment
  client/src/App.jsx
  client/src/components/PaymentMethodModal/PaymentMethodModal.jsx
  client/src/components/PaymentMethodModal/PaymentMethodModal.module.css
  client/src/components/StripeCheckout/StripeCheckout.jsx
  client/src/components/StripeCheckout/StripeCheckout.module.css
  client/src/pages/CheckoutPage/CheckoutPage.jsx
  client/src/pages/OrderPage/OrderPage.jsx
  client/src/pages/OrderPage/OrderPage.module.css
  client/src/pages/PaymentResultPage/PaymentResultPage.jsx
  client/src/pages/PaymentResultPage/PaymentResultPage.module.css
  server/README.md
  server/src/controllers/paymentController.js
  server/src/index.js
  server/src/routes/payment.js
  server/src/services/paymentService.js
Due: Build & Restart API, Build & Restart FE

add stripe payment func
  server/package-lock.json
  server/package.json
Due: Build & Restart API

feat: add build env to frontend CI/CD
  .github/workflows/cicd-frontend.yml
  client/Dockerfile
Due: Build & Restart FE

chore: refactor env arg
  .github/workflows/cicd-frontend.yml
Due: none

chore: refactor CI/CD flow
  .github/workflows/cicd-frontend.yml
Due: none

chore: add to build
  client/src/api/cartApi.js
Due: Build & Restart FE

fix delete product
  client/src/components/Footer/Footer.jsx
  client/src/pages/Admin/ProductManagement/ProductManagement.jsx
Due: Build & Restart FE

update web name and logo
  client/index.html
  client/public/shop-logo.svg
Due: Build & Restart FE

fix language
  client/src/components/ChangePasswordPage/ChangePasswordPage.jsx
Due: Build & Restart FE
