Repository ThaiMX-hust/mini-ecommerce: changes, and which Jenkins stages are due for each by the changed paths.
All: Build & Restart API, Build & Restart FE

Build & Restart API:
        steps {
          sh '''
            docker compose build api
            docker compose up -d api
          '''
        }
      

Build & Restart FE:
        steps {
          sh '''
            docker build -t mini-ecommerce-client .
            docker run mini-ecommerce-client
          '''
        }
      

chore: refactor jenkins pipeline
  redis.conf
  server/docker-compose.yml
  server/mongo/promotion.model.js
Due: Build & Restart API

fix: jenkins pipeline fail
  Jenkinsfile
Due: none

fix: redis connecting fail
  server/src/infrastructure/redis.js
Due: Build & Restart API

fix: db crash
  server/prisma/schema.prisma
  server/src/index.js
Due: Build & Restart API

Invalidate cache on product creation
  server/src/services/productService.js
Due: Build & Restart API

fix payment service
  server/src/controllers/paymentController.js
  server/src/services/paymentService.js
Due: Build & Restart API

fix bug paymentServiceService
  server/src/services/paymentService.js
Due: Build & Restart API

update myorder page
  client/src/pages/OrderPage/OrderPage.jsx
  client/src/pages/OrderPage/OrderPage.module.css
Due: Build & Restart FE

fix paymentservice3
  server/src/services/paymentService.js
Due: Build & Restart API

fix payment func
  client/src/App.jsx
  client/src/pages/OrderPage/OrderPage.jsx
  client/src/pages/PaymentResultPage/PaymentResultPage.jsx
  server/src/controllers/paymentController.js
  server/src/services/paymentService.js
Due: Build & Restart API, Build & Restart FE

Add filter order by status_code
  server/src/repositories/ordersRepository.js
Due: Build & Restart API

Update order status on approving refund request
  server/src/services/refundService.js
Due: Build & Restart API

fix language
  client/src/components/Admin/AdminSidebar/AdminSidebar.jsx
  client/src/components/CancelOrderModal/CancelOrderModal.jsx
  client/src/components/CartPanel/CartPanel.jsx
  client/src/components/CategoryFormModal/CategoryFormModal.jsx
  client/src/components/ChangePasswordPage/ChangePasswordPage.jsx
  client/src/components/ConfirmationModal/ConfirmationModal.jsx
  client/src/components/EditProfilePage/EditProfilePage.jsx
  client/src/components/Footer/Footer.jsx
  client/src/components/Newsletter/Newsletter.jsx
  client/src/components/OptionSelector/OptionSelector.module.css
  client/src/components/OrderDetailModal/OrderDetailModal.jsx
  client/src/components/OrderFilterBar/OrderFilterBar.jsx
  client/src/components/Pagination/Pagination.jsx
  client/src/components/ProductDetailModal/ProductDetailModal.jsx
  client/src/components/ProductFormModal/ProductFormModal.jsx
  client/src/components/ProductInfo/ProductInfo.jsx
  client/src/components/ProtectedRoute/ProtectedRoute.jsx
  client/src/components/ReviewItem/ReviewItem.jsx
  client/src/components/SidebarFilters/SidebarFilters.jsx
  client/src/components/StatusBadge/StatusBadge.jsx
  client/src/contexts/AppContext.jsx
  client/src/pages/AccountPage/AccountPage.jsx
  client/src/pages/Admin/AdminDashboard/AdminDashboard.jsx
  client/src/pages/Admin/CategoryManagement/CategoryManagement.jsx
  client/src/pages/Admin/OrderManagement/OrderManagement.jsx
  client/src/pages/Admin/ProductManagement/ProductManagement.jsx
  client/src/pages/CheckoutPage/CheckoutPage.jsx
  client/src/pages/ForgotPasswordPage/ForgotPasswordPage.jsx
  client/src/pages/HomePage/HomePage.jsx
  client/src/pages/LoginPage/LoginPage.jsx
  client/src/pages/OrderPage/OrderPage.jsx
  client/src/pages/PaymentResultPage/PaymentResultPage.jsx
  client/src/pages/ProductDetailPage/ProductDetailPage.jsx
  client/src/pages/ProductListPage/ProductListPage.jsx
  client/src/pages/RegisterPage/RegisterPage.jsx
Due: Build & Restart FE

Enforce strong password
  server/src/services/userService.js
Due: Build & Restart API

Enforce strong password for password changing and resetting
  server/src/services/authService.js
  server/src/services/userService.js
Due: Build & Restart API

create CI/CD workflow
  .github/workflows/cicd-backend.yml
Due: none

feat: server deploy
  client/package-lock.json
  server/Dockerfile
  server/package.json
  server/prisma/seed/script.js
  server/prisma/seed/seed.js
Due: Build & Restart API, Build & Restart FE

Simplify branch definitions in CI/CD workflow
  .github/workflows/cicd-backend.yml
Due: none

Update deployment conditions in CI/CD workflow
  .github/workflows/cicd-backend.yml
Due: none

fix profile page & cartPanel
  client/src/components/CartPanel/CartPanel.jsx
  client/src/components/Footer/Footer.jsx
  client/src/pages/AccountPage/AccountPage.jsx
  client/src/pages/CheckoutPage/CheckoutPage.jsx
Due: Build & Restart FE

fix: some stupid bugs
  server/src/index.js
Due: Build & Restart API

fix filter order and product manager
  client/src/components/CartPanel/CartPanel.jsx
  client/src/components/OrderFilterBar/OrderFilterBar.jsx
  client/src/components/ProductFormModal/ProductFormModal.jsx
  client/src/pages/Admin/ProductManagement/ProductManagement.jsx
Due: Build & Restart FE

translate VN
  client/src/pages/Admin/AdminDashboard/AdminDashboard.jsx
  client/src/pages/Admin/AdminDashboard/AdminDashboard.module.css
  client/src/pages/OrderPage/OrderPage.jsx
  client/src/pages/PaymentResultPage/PaymentResultPage.jsx
  client/src/pages/ProductDetailPage/ProductDetailPage.jsx
  server/src/services/paymentService.js
Due: Build & Restart API, Build & Restart FE

update func product manager
  client/src/components/ProductFormModal/ProductFormModal.jsx
Due: Build & Restart FE

fix language
  client/src/components/ProductInfo/ProductInfo.jsx
  client/src/components/SidebarFilters/SidebarFilters.jsx
  client/src/pages/PaymentResultPage/PaymentResultPage.jsx
  client/src/pages/ProductDetailPage/ProductDetailPage.jsx
  client/src/pages/ProductListPage/ProductListPage.jsx
Due: Build & Restart FE

fix(order): determine current order status by latest changed_at
  client/src/pages/OrderPage/OrderPage.jsx
  client/vite.config.js
Due: Build & Restart FE

fix(payment): resolve VNPAY checksum errors and enhance IPN robustnessm
  client/src/pages/ProductDetailPage/ProductDetailPage.jsx
  client/src/pages/ProductListPage/ProductListPage.jsx
  server/src/services/paymentService.js
Due: Build & Restart API, Build & Restart FE

fix(paymemt) add param
  server/src/services/paymentService.js
Due: Build & Restart API

fix(payment) delete clean data
  server/src/services/paymentService.js
Due: Build & Restart API

fix(payment) test sort function of vnpay
  server/src/services/paymentService.js
Due: Build & Restart API

feat: be and fe deploy, set up CI/CD workflow
  .github/workflows/cicd-frontend.yml
  client/Dockerfile
  client/nginx.conf
Due: Build & Restart FE

repair sort objobj
  server/src/services/paymentService.js
Due: Build & Restart API

roll back
  server/src/services/paymentService.js
Due: Build & Restart API

fix: wrong base server
  client/Dockerfile
Due: Build & Restart FE

chore: server base url
  .gitignore
  client/Dockerfile
  client/package.json
  client/src/api.js
Due: Build & Restart FE

verify email connection
  client/Dockerfile
  client/src/api.js
  server/src/services/emailService.js
Due: Build & Restart API, Build & Restart FE

refactor: workflow
  .github/workflows/cicd-frontend.yml
Due: none

chore: trigger workflow
  client/src/api/productApi.js
Due: Build & Restart FE

Stop throwing error in forgot password if email does not exist
  server/src/services/authService.js
Due: Build & Restart API

Use brevo api to send email
  server/.env.example
  server/package-lock.json
  server/package.json
  server/src/services/emailService.js
Due: Build & Restart API

Path conditions:
  Build & Restart API: any of: server/**
  Build & Restart FE: any of: client/**
